<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome, <%= @order.id %></h1>
    <p>
      You have successfully purchased!<br>
    </p>
    <p>Thanks for shopping and have a great day!</p>
  </body>
</html>